<%= erb(:header, :layout => false) %>

<div class='container'>

  <h1><%= @galleries[@id]['name'] %></h1>

  <div class='col-md-6 info'> 
    <p><%= @galleries[@id]["description"] %>
      <br>
      Address: <em><%= @galleries[@id]["address"] %></em>
      <br>
      Opening hours: <%= @galleries[@id]["opening_hour"] %>:00 To <%= @galleries[@id]["closing_hour"] %>:00</p>
      
    </div>

    <div class='col-md-6 gallery'>
      <img src='/img/galleries/gallery_<%= params['gallery_id'] %>.jpg'/>
    </div>


    <h2>Exhibitions</h2>
    

    <%  @exhibition_details.each do |exhibition| %>
    <% exhibition_number = exhibition["id"] %>
    <% exhibition_info = @gallery.get_exhibition(exhibition_number) %>
    
    <h3><%= exhibition_info['name']%></h3>

    <p>Description: <%= exhibition_info['description']%>
    <br>
    Price: <%= exhibition_info['entry_fee']%></p>
    <hr>
    <% end %>

    <% if @exhibition_details == [] %>
    <p>Im sorry there are currently none available</p>
    <% end %>
  </div>


  <%= erb(:footer, :layout => false) %>