<%= erb(:header, :layout => false) %>
<div class="container">




<h1>List of Galleries</h1>

<h4><%= @gallery["name"] %></h4>
<h5><%= @gallery["description"] %></h5>
<p>Address: <%= @gallery["address"] %></p>
<p>Open from <em><%= @gallery['opening_hour']%>:00 to <%= @gallery['closing_hour']%>:00</em></p>
<hr>


</div>

<%= erb(:footer, :layout => false) %>


