<%= erb(:header, :layout => false) %>

<div class="container">

  <h1>Galleries</h1>
  <hr>  
  

  <% gallery_index.each do |gallery_info| %>
  <% gallery_id = gallery_info['id'] %>
  
  <div class="col-md-6 gallery">
    <a href='/gallery_view/<%= gallery_id %>' >
      <h2><%= gallery_info['name'] %></h2>
      <img src='/img/galleries/gallery_<%= gallery_id %>.jpg' />
    </a>
  </div>
  
  <% end %>

</div>

<%= erb(:footer, :layout => false) %>